* {
  margin: 0;
  padding: 0;
}
#pantalla1 {
height: 1000px;
z-index: 0;
background-image: url("../assets/images/back1.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
max-width: 100%;
}

#pantalla2 {
  /* height: 400px; */
  z-index: 0;
  background-image: url("../assets/images/back2.jpg");
  background-size: 100% 1500px;
  background-repeat: no-repeat;
  max-width: 100%;


}

a.carousel-item.active {
    width: 50%;

}
div.carousel {
  margin: 0;
  padding: 0;
  height: 50vh;
}
