body, .container {
  margin: 0;
  padding: 0;
}

#pantalla1 {
z-index: 4;
background-image: url("../assets/images/back1.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
 max-width: 100%;
height: 130vh;
width: 250vh;
margin: 0;
}

#pantalla2 {
  /* height: 400px; */
  z-index: 0;
  background-image: url("../assets/images/back2.jpg");
  background-size: 100% 1500px;
  background-repeat: no-repeat;
  max-width: 100%;
}

.title1{
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

.title2 {
  font-family: 'Cambay', sans-serif;
  font-size: 3rem;
}

a.carousel-item.active {
    width: 50%;

}
div.carousel {
  margin: 0;
  padding: 0;
  height: 50vh;
}
